<div id="about">
    <app-burger-nav></app-burger-nav>
    <div class="container">
        <div class="header">
            <img src="../../../assets/images/logo-saumon.png" alt="">
            <p class="header-accroche">Du grec ancien πόλις la cité</p>
            <p class="header-description">Application cartographique participative de données et suggestions touristiques</p>
        </div>
        <div class="main">
            <div class="main-description">
                La version 1.0 de Polis que vous êtes en train de parcourir a été developpée avec Angular et Spring <br />Ce projet valide une formation de retour à l'emploi de 3 mois et demi suivie par 3 aspirants developpeurs chez <a href="#" target="_blank">M2i formation</a>.
            </div>
            <div class="main-description-team">
            <span class="cadre-passion">Polis est codé avec passion par :</span>
            <ul>
              <li><span class="team-name"><a href="#clement">Alban Renahy</a></span>  <span class="team-job">Frontend et Backend</span>  <span class="team-role">Mangeur de salade</span></li>
              <li><span class="team-name"><a href="#thomas">Valère Galais-Brousse</a></span>  <span class="team-job">Frontend et Backend</span>  <span class="team-role">Protecteur de la BDD</span></li>
              <li><span class="team-name"><a href="#jerome">Catherine Hermary</a></span>  <span class="team-job">Frontend et Backend</span>  <span class="team-role">Reine de Git</span></li>
            </ul>
          </div>
          <div class="main-description-techno">
            <span class="cadre-improve">Polis nous a permis de nous améliorer en :</span>
            <ul>
              <li><span class="col-1">HTML/SCSS</span>  <span class="col-2">JS</span>  <span class="col-3">ANGULAR</span></li>
              <li><span class="col-1">JAVA</span>  <span class="col-2">SPRING</span>  <span class="col-3">TESTS</span></li>
              <li><span class="col-1">BOOTSTRAP</span>  <span class="col-2">GIT</span>  <span class="col-3">GITHUB</span></li>
              <li><span class="col-1">OPENSTREETMAP</span>  <span class="col-2">LEAFLET</span>  <span class="col-3">TEAM WORK</span></li>
              <li><span class="col-1">SCRUM</span>  <span class="col-2">SQL</span>  <span class="col-3">UX</span></li>
            </ul>
          </div>
        </div>
    </div>
</div>
