<div class='renseignement-donnees open'>
    <div class="renseignement-donnees_relative">
        <a href="#" class="renseignement-donnees_close">Fermer</a>
        <div class="renseignement-donnees_files">
            <label for="" class="picture-building"><img src="../../../../assets/images/Pins 40_80.png" alt=""
                    class="renseignement-donnees_appareil"></label>
            <input type="file" id="picture-building" class="inputfile">
        </div>
        <form [formGroup]="formulaire" (ngSubmit)="addOne()">
            <div class="renseignement-donnees_inputs">
                <div class="renseignement-donnees_primary-infos">
                    <input type="text" class="input" id="nomLieu" name="nomLieu" placeholder="Nom"
                        formControlName="nomLieu">
                    <input type="text" class="input" id="ville" name="ville" placeholder="Ville"
                        formControlName="ville">
                </div>
                <div class="renseignement-donnees_address-container">
                    <input type="text" id="addresse" name="addresse" placeholder="Adresse" formControlName="adresse">
                </div>
                <div class="renseignement-donnees_secondary-infos">
                    <div class="input-container">
                        <!--<select name="visitTime" id="visitTime">
                            <option value={0} defaultValue>-Temps de visite estimé-</option>
                        </select>-->
                        <select id="category" name="category" placeholder="Catégorie">
                            <option value={0} defaultValue>Catégorie(s)</option>
                           <!-- <option value={0}>{{categories[0].nomCategorie}}</option>-->
                            <!--TODO bug quand je parcours la liste a la main-->
                        </select>
                    </div>
                </div>
                <input type="text" id="description" name="description" placeholder="Courte description"
                    formControlName="description">
            </div>
            <button type="submit"> Valider</button>
        </form>
    </div>
</div>