<div  [hidden]="!showMe" class= 'renseignement-donnees open'>
    <div class="renseignement-donnees_relative">
        <button (click)="toogleTag()" [ngClass]="showMe ? 'button' : 'null'">
            Fermer
        </button>
        <div class="renseignement-donnees_files">
            <label for="" class="picture-building"><img src="../../../../assets/images/Pins 40_80.png" alt=""
                    class="renseignement-donnees_appareil"></label>
            <input type="file" id="picture-building" class="inputfile">
        </div>
        <form action="">
            <div class="renseignement-donnees_inputs">
                <div class="renseignement-donnees_primary-infos">
                    <input type="text" class="input" id="name" name="name" placeholder="Nom">
                    <input type="text" class="input" id="city" name="city" placeholder="Ville">
                </div>
                <div class="renseignement-donnees_address-container">
                    <input type="text" id="address" name="address" placeholder="Adresse">
                </div>
                <div class="renseignement-donnees_secondary-infos">
                    <div class="input-container">
                        <select name="visitTime" id="visitTime">
                            <option value={0} defaultValue>-Temps de visite estimé-</option>
                        </select>
                        <select id="category" name="category" placeholder="Catégorie">
                            <option value={0} defaultValue>Catégorie(s)</option>
                        </select>
                    </div>
                </div>
                <input type="text" id="shortDescription" name="shortDescription" placeholder="Courte description">
            </div>
        </form>
    </div>
</div>