<div class='renseignement-donnees open'>
    <div class="renseignement-donnees_relative">
        <a href="#" class="renseignement-donnees_close">Fermer</a>
        <div class="renseignement-donnees_files">
            <label for="" class="picture-building"><img src="../../../../assets/images/Pins 40_80.png" alt=""
                    class="renseignement-donnees_appareil"></label>
            <input type="file" id="picture-building" class="inputfile">
            <div class="adress-search">
                <input ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" /><i class="fas fa-search"></i>
               
                 <p>Adresse: {{ adresse }}</p>
                 <p>Latitude: {{ latitude }}</p>
                 <p>Longitude: {{ longitude }}</p>
               </div>
        </div>
        <form [formGroup]="formulaire" (ngSubmit)="addOne()">
            <div class="renseignement-donnees_inputs">
                <div class="renseignement-donnees_primary-infos">
                    <input type="text" class="input" id="nomLieu" name="nomLieu" placeholder="Nom"
                        formControlName="nomLieu">
                    <input type="text" class="input" id="ville" name="ville" placeholder="Ville"
                        formControlName="ville">
                     <input type="text" class="input" id="latitude" name="latitude" value="{{ latitude }}"placeholder="latitude"
                        formControlName="latitude">
                        <input type="text" class="input" id="longitude" name="longitude" placeholder="longitude" value="{{ longitude }}"
                        formControlName="longitude">
                </div>
                <div class="renseignement-donnees_address-container">
                    <input type="text" id="addresse" name="addresse" placeholder="Adresse" value="{{ adresse }}">
                </div>
                <div class="renseignement-donnees_secondary-infos">
                    <div class="input-container">
                        <!--<select name="visitTime" id="visitTime">
                            <option value={0} defaultValue>-Temps de visite estimé-</option>
                        </select>-->
                            <option value={0} defaultValue >Catégorie(s) </option>
                            <select id="category" name="category" placeholder="Catégorie">
   <option value={{categories[0].nomCategorie}}>{{categories[0].nomCategorie}}</option>
   <option value={{categories[0].nomCategorie}}>{{categories[1].nomCategorie}}</option>
   <option value={{categories[0].nomCategorie}}>{{categories[2].nomCategorie}}</option>
   <option value={{categories[0].nomCategorie}}>{{categories[3].nomCategorie}}</option>
                           
                            <!--TODO bug quand je parcours la liste a la main-->
                        </select>
                    </div>
                </div>
                <input type="text" id="description" name="description" placeholder="Courte description"
                    formControlName="description">
            </div>
            <button type="submit"> Valider</button>
        </form>
    </div>
</div>