<div id="menu">
    <app-burger-nav></app-burger-nav>
    <app-view-toggler></app-view-toggler>
    <div class="ui right aligned category search item">
        <div class="input-group rounded icon input input-container">
                <input class="form-control rounded input" type="text" id="search-input" placeholder="Rechercher une adresse">
                <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
    
</div>
