@import '../../../../assets/vars.scss';

.adress-search{ 
    color:black;
    position: absolute;
    z-index:1000; 
    right: 50px;
    margin-top: 10px;
    background-color:rgba(255, 255, 255, 0.60);
    padding: 10px;
    
}

.adress-search>p {line-height: 0.8em;}

/* defini la largeur de l input*/
.pac-target-input{
    width:400px;
    border-color: $salmon-lighten;
    box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.40);
    margin-bottom: 15px;
   

}