@import '../../../assets/vars.scss';

#liste {
  min-height: 101.2vh; // Petit bug, à corriger..
  background-color: $beige-lighten; 
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


//TODO bug background-color a corriger
body {background-color: $beige-lighten;}



h1{ color: $brown-darken;
    background-color:$beige-lighten ;
    text-align: center;
    padding-top: 5%;
    font-family:'Tangerine', serif;
    font-size:70px;
    text-shadow: 4px 4px 4px #aaa;
}