

<div class="container">
    <div class="row">
        
                <div class="card" style="width: 25rem;">
                        <img src= "{{lieu.image.nomImage}}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{lieu.nomLieu}}</h5>
                            <h6 class="card-subtitle mb-2">Ville : {{lieu.ville}}</h6>

                            <h6 class="card-subtitle mb-2">Description {{lieu.description}}</h6>
                           
                           
                           <!--categories a mettre en tableau-->
                           <h6 class="card-footer mb-1 text-muted">Categorie : {{lieu.categorie.nomCategorie}}</h6>
                          <h6 class="card-footer mb-1 text-muted">Temps de visite : {{lieu.tempsDeVisite.horaireVisite}}mn</h6>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
               </div>
        </div>


